.cards__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.component__card {
  width: 300px;
  height: 300px;
  border-top: 0.5px dotted gray;
  margin-bottom: 75px;
  cursor: pointer;
  /* Animation */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.component__card:hover {
  transform: scale(1.05);
  border: 1px solid gray;
}

.component__image {
  width: 100%;
  height: 250px;
  border-bottom: 0.5px dotted gray;
}

.component__name {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 1rem;
}

.componentCard__footer {
  display: flex;
  justify-content: space-evenly;
}

.component__price {
  background-color: crimson;
  color: aliceblue;
  height: 25px;
  font-size: 0.9rem;
  border-radius: 8px;
  padding: 2px 5px;
}

.fav_icon {
  color: goldenrod;
  /* Animation */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.fav_icon:hover {
  background-color: crimson;
  height: 25px;
  width: 50px;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
}

@media screen and (max-width: 1100px) {
  .cards__list {
  margin-left: 75px;
}

}

@media screen and (max-width: 400px) {

  .component__card {
  width: 250px;
  height: 300px;
    margin-bottom: 100px;

}
}