.home__images {
  display: flex;
  flex-direction: column;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image1 {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/Home/PcBuilder.jpg);
  background-size:  100% 100%;
  background-repeat: no-repeat;
  margin: 20px 0;
}

.hero-image2 {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/Home/PcSetup.jpg);
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  margin: 20px 0;
}
.hero-image3 {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/Home/PcComponents.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 20px 0;
}

@media screen and (max-width: 1100px) {
  .hero-body p {
    font-size: 16px;
  }

  .hero-text h1 {
    font-size: 20px;
  }

  .hero-text p {
    font-size: 12px;
  }

  .hero-image1 {
    height: 500px;
  }
  .hero-image2 {
    height: 500px;
  }
  .hero-image3 {
    height: 500px;
  }
}


@media screen and (max-width: 400px) {
  .hero-body p {
    font-size: 10px;
  }

  .hero-text h1 {
    font-size: 12px;
  }

  .hero-text p {
    font-size: 8px;
  }

  .hero-image1 {
    height: 300px;
  }
  .hero-image2 {
    height: 300px;
  }
  .hero-image3 {
    height: 300px;
  }
}
